/ {
	pinctrl: pin-controller {
		i2c0_default: i2c0_default {
			group1 {
				psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
					<NRF_PSEL(TWIM_SCL, 0, 4)>;
			};
		};

		i2c0_sleep: i2c0_sleep {
			group1 {
				psels = <NRF_PSEL(TWIM_SDA, 0, 5)>,
					<NRF_PSEL(TWIM_SCL, 0, 4)>;
				low-power-enable;
			};
		};
	};
};

&clock {
	hfclkaudio-frequency = <12288000>;
};

&pinctrl {
	pdm0_default_alt: pdm0_default_alt {
		group1 {
			psels = <NRF_PSEL(PDM_CLK, 1, 9)>,
				<NRF_PSEL(PDM_DIN, 0, 27)>;
		};
	};
};

dmic_dev: &pdm0 {
	status = "okay";
	pinctrl-0 = <&pdm0_default_alt>;
	pinctrl-names = "default";
	clock-source = "ACLK";
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    ssd1327: ssd1327@3d {
        compatible = "ssd1327";
        reg = <0x3d>;
    };
};